.headings {
	justify-content: space-between;

	border-radius: 1em;
	margin: 5px 0;
	border: solid 1px rgb(223, 223, 223);
	/* color: var(--secondary-color); */

	justify-content: space-between;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
