.subject {
	justify-content: space-between;
	border-radius: 1em;
	margin: 5px 0;
	border: solid 1px rgb(223, 223, 223);
}

.subject:hover {
	background-color: rgb(245, 245, 245);
	box-shadow: inset 1px 1px 3px rgb(235, 235, 235);
	transition: background-color 0.2s ease-in-out;
}
.edit-icon {
	height: 15px;
	width: 15px;
	opacity: 0;
	margin: 0 5px;
	cursor: pointer;
}
.subject-entry {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.subject-entry:hover > .edit-icon {
	opacity: 1;
	transition: opacity 0.1s ease-in-out;
}
.field {
	background-color: transparent;
	border: none;
	padding: 3px;
	margin: 0;
	outline-color: rgba(0, 0, 0, 0.174);
}
