@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
/* Test for css branch */
/* ------------------------NEW------------------------------------------- */

/* Define variables for light mode colors */
:root {
	--foreground-light: #000000;
	--background-light: #ffffff;
	--primary-color-light: #cb2525;
	--secondary-color-light: #14213d;
	--accent-color-light: #fca311;
	--foreground-dark: #ffffff;
	--background-dark: #1a1a1a;
	--primary-color-dark: #d66c6c;
	--secondary-color-dark: #8093b0;
	--accent-color-dark: #ffdf6b;
}

/* Define variables that will be used for both light and dark modes */
:root {
	--background: var(--background-light);
	--foreground: var(--foreground-light);
	--primary-color: var(--primary-color-light);
	--secondary-color: var(--secondary-color-light);
	--accent-color: var(--accent-color-light);
}

/* Override variables for dark mode */
@media (prefers-color-scheme: light) {
	:root {
		--background-color: var(--background-dark);
		--foreground-color: var(--foreground-dark);
		--primary-color: var(--primary-color-dark);
		--secondary-color: var(--secondary-color-dark);
		--accent-color: var(--accent-color-dark);
	}
}

/* Use the variables in the styles */
body {
	background-color: var(--background-color);
	color: var(--foreground);
}

.primary-button {
	background-color: var(--primary-color);
	color: white;
}

.secondary-button {
	background-color: var(--secondary-color);
	color: white;
}

.accent {
	/* background-color: var(--accent-color); */
	background-image: linear-gradient(
		to bottom right,
		var(--accent-color),
		var(--primary-color)
	);
	color: white;
}

/* ------------------------NEW------------------------------------------- */

.title {
	font-size: 3rem;
	/* Set the background gradient to match .accent */
	background-image: linear-gradient(
		to bottom right,
		var(--accent-color),
		red
	);
	/* Use the background as a mask for the text */
	-webkit-background-clip: text;
	/* Set the text color to the gradient color */
	-webkit-text-fill-color: transparent;
}

body {
	font-family: "Lato", sans-serif;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.bubble-element {
	display: flex;
	flex-direction: row;
	width: min(80%, 600px);
	padding: 1em 2em;
}
